.wrapper{
    width: 1170px;
    margin: none;
}
body{
    background: url(sai.jpg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4)),rgba(0, 0, 0, 0.4):
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}
.manu{
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;


}`  
.menu li{
    display: inline-block;
}
.logo img{
    width: 150px;
    align-items: left;
    padding-left: 0%;
    padding-top: 0%;
    filter: invert(45);
  }  

.menu li a{
    align-items: right;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 14px;
}
.menu li a:hover{
    background: white;
    color: black;
    text-align: right;
}
.flex{
    display: flex;
    
}

